#parse("/velocity/layout/mainLayout.vm")
#@mainLayout()
<link rel="stylesheet" href="/css/login.css">

<div class="singleBox">
    #if($loggedOut)
        <div class="container content" id="successfulContainer">
            <h6>$msg.get("LOG_OUT")</h6>
        </div>
    #end
    #if($redirected)
        <div class="container content" id="errorContainer">
            <h6>$msg.get("LOG_REDIRECT")</h6>
        </div>
    #end
    <div class="container content">
        <h2>$msg.get("LOG_LOGIN")</h2>
        <form action="/login" method="post" id="logInForm">
            <div class="form-group">
                <label for="Username">$msg.get("LOG_USERNAME")</label>
                <input class="form-control" id="username" placeholder="$msg.get("LOG_ENTERUSERNAME")" name="username">
            </div>
            <div class="form-group">
                <label for="pwd">$msg.get("LOG_PASSWORD")</label>
                <input type="password" class="form-control" id="pwd" placeholder="$msg.get("LOG_ENTERPASSWORD")" name="pswd">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> $msg.get("LOG_REMEMBER")
                </label>
            </div>
        </form>
        <button type="submit" form="logInForm" class="btn btn-secondary">$msg.get("LOG_LOGIN")</button>
        <button class="btn btn-secondary" onclick="locationToSignAwait()">$msg.get("LOG_LOGINBYSIGN")</button>
    </div>
</div>
<script src="/javascript/loginControl.js"></script>

#end
	