#parse("/velocity/layout.vm")
#mainLayout()
<html>
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <style>
        [data-href] {
            cursor: pointer;
        }
        thead {
            background-color: rgb(0,51,102);
            color:white;
            font-size:117%
        }

        .opener {
            cursor: pointer;
            font-size:115%;

        }

        .hidden {
            display:none;
        }

        .bill {
            font-style: italic;
            background-color: #ebfcfc;
        }

        .rightbox{
            float:right;
            width:55%;
            margin-right:5%;
            margin-bottom:5%

        }

        .leftbox{
            position:fixed;
            float:left;
            width: 30%;
            margin-right:5%;
            margin-left: 5%;
            height:75%;
            margin-bottom:5%
        }

        .static {
            position: static;
        }
        .fixed{
            width: inherit;
            position: fixed;
        }

        footer {
            display: none;
        }

        @media screen and (max-width: 992px) {
            .rightbox{
                float:none;
                width:90%;
                margin-right:0%;
                margin-left: 5%;

            }
            .leftbox{
                position:static;
                float:none;
                width:90%;
            }
        }

        @media screen and (max-height: 650px) {

            .leftbox{
                position:static;

            }
        }

        @media screen and (max-width:650px){
            .phonescrollable{
                overflow-x: scroll;
            }
        }

    </style>

    <body class="main">
        <div class="rightbox">
            <div class = "container content">
                <div class="contentTitle">
                    <div class ="row phonescrollable">
                        <div class="col-9"><h2>Amortization report</h2></div>
                    </div>
                </div>

                <br>
                <div style="overflow-x:scroll">
                    <table class="table table-hover fixed_header" id="myTable">
                        <thead>
                        <tr>
                            <th>Investment</th>
                            <th>Date</th>
                            <th>Subtotal</th>
                            <th>% Amortization</th>
                            <th>Amortization</th>
                            <th>Period amortization</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="buildings" class="opener">
                            <td>Buildings</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getBuildings()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getBuildings())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getBuildings()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getBuildings()))</td>
                        </tr>
                            #foreach($bill in $report.getBuildings())
                            <tr data-href="$bill.getUUID()" class="hidden buildings bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="furniture" class="opener">
                            <td>Furniture and office equipment</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getOfficeEquipment()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getOfficeEquipment())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getOfficeEquipment()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getOfficeEquipment()))</td>
                        </tr>
                            #foreach($bill in $report.getOfficeEquipment())
                            <tr data-href="$bill.getUUID()" class="hidden furniture bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="transport" class="opener">
                            <td>Transport equipment</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getTransportEquipment()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getTransportEquipment())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getTransportEquipment()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getTransportEquipment()))</td>
                        </tr>
                            #foreach($bill in $report.getTransportEquipment())
                            <tr data-href="$bill.getUUID()" class="hidden transport bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="computational" class="opener">
                            <td>Computational equipment and accesories</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getComputationalEquipment()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getComputationalEquipment())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getComputationalEquipment()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getComputationalEquipment()))</td>
                        </tr>
                            #foreach($bill in $report.getComputationalEquipment())
                            <tr data-href="$bill.getUUID()" class="hidden computational bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="models" class="opener">
                            <td>Models and Tools</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getModelsAndTools()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getModelsAndTools())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getModelsAndTools()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getModelsAndTools()))</td>
                        </tr>
                            #foreach($bill in $report.getModelsAndTools())
                            <tr data-href="$bill.getUUID()" class="hidden models bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="telephone" class="opener">
                            <td>Telephone communications</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getTelephoneCommunications()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getTelephoneCommunications())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getTelephoneCommunications()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getTelephoneCommunications()))</td>
                        </tr>
                            #foreach($bill in $report.getTelephoneCommunications())
                            <tr data-href="$bill.getUUID()" class="hidden telephone bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="satellite" class="opener">
                            <td>Satellite communications</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getSatelliteCommunications()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getSatelliteCommunications())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getSatelliteCommunications()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getSatelliteCommunications()))</td>
                        </tr>
                            #foreach($bill in $report.getSatelliteCommunications())
                            <tr data-href="$bill.getUUID()" class="hidden satellite bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        <tr id="other" class="opener">
                            <td>Other machinery and equipment</td>
                            <td></td>
                            <td>$number.format("currency",$report.calculateBase($report.getOtherMachineryAndEquipment()))</td>
                            <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($report.getOtherMachineryAndEquipment())) %</td>
                            <td>$number.format("currency",$report.calculateAccumulatedAmortization($report.getOtherMachineryAndEquipment()))</td>
                            <td>$number.format("currency",$report.calculatePeriodAmortization($report.getOtherMachineryAndEquipment()))</td>
                        </tr>
                            #foreach($bill in $report.getOtherMachineryAndEquipment())
                            <tr data-href="$bill.getUUID()" class="hidden other bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                                <td>$number.format("currency",$bill.getSubtotal())</td>
                                <td>$math.roundTo(2,$report.calculateAccumulatedAmortizationPercentage($bill)) %</td>
                                <td>$number.format("currency",$report.calculateAccumulatedAmortization($bill))</td>
                                <td>$number.format("currency",$report.calculatePeriodAmortization($bill))</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="leftbox">
            <div class="container content" style="margin-bottom:5%">
                <div>
                    <h4 class="contentTitle">Amortization period</h4>
                    <br>
                    <div>
                        <form>
                            <div class="row">
                                <div class="col">
                                    <p>Period start</p>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="date" value="2011-08-19" id="pStart" name="periodStart">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Period end</p>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="date" value="2011-08-19" id="pEnd" name="periodEnd">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" value="Submit" class="btn btn-secondary" style="float:right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="container content" style="height:60%; margin-bottom:5%">
                <div>
                    <h4 class="contentTitle">Amortization Chart</h4>
                </div>
                <div id="piechart" style="height:90%"></div>
            </div>
        </div>

    </body>

    <script>

        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = /bills/ + $(this).data("href");
            });
            $('.opener').on('click', function() {
                var itemsToToggleClass = "." + jQuery(this).attr("id");
                jQuery(this).toggleClass("opened");
                $(itemsToToggleClass).toggleClass("hidden");
                //$(itemsToToggleClass).last().css( "border-bottom", "groove" );
            });


        });
    </script>


    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var data;
        var options;
        var chart;

        function drawChart() {
            data = google.visualization.arrayToDataTable([
                ['Investment', 'amortization',  { role: 'annotation' }],
                #foreach($key in $barChart)
                        ['$key',$math.roundTo(2,$barChart.getCount($key)), '$math.roundTo(2,$barChart.getCount($key)) %'],
                #end
            ]);

            options = {
                title: 'Investments',
                backgroundColor:'rgb(247,250,252)'
            };

            chart = new google.visualization.BarChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        function resize () {
            chart = new google.visualization.BarChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        window.onload = resize;
        window.onresize = resize;

        document.getElementsByClassName('overlay')[0].addEventListener('transitionend', function(event){
            if(event.propertyName !== 'width') return;
            resize();
        });
    </script>

    <script>
        function getPeriodStartParsedDate() {
            var year = $report.getPeriodStart().getYear() +1900;
            console.log(year);
            var month = $report.getPeriodStart().getMonth() +1;
            console.log(month);
            if (month < 10) month = "0" + month;
            var day = $report.getPeriodStart().getDate()+0;
            if (day < 10) day = "0" + day;
            return year + "-" + month + "-" + day;
        }

        function getPeriodEndParsedDate() {
            var year = $report.getPeriodEnd().getYear() +1900;
            console.log(year);
            var month = $report.getPeriodEnd().getMonth() +1;
            console.log(month);
            if (month < 10) month = "0" + month;
            var day = $report.getPeriodEnd().getDate()+0;
            if (day < 10) day = "0" + day;
            return year + "-" + month + "-" + day;
        }

        document.getElementById('pStart').value = getPeriodStartParsedDate();
        document.getElementById('pEnd').value = getPeriodEndParsedDate();
    </script>


    <script>
        // Cuando se abre el menu lateral, se cambia a static la position del leftbox
        $(document).ready(function(){
            $('#menuBtn').on('click',function() {
                document.getElementsByClassName("leftbox")[0].classList.add("static");
            });
        });

        document.getElementsByClassName('overlay')[0].addEventListener('transitionend', function(event){
            if(event.propertyName !== 'width') return;
            //Apertura del panel
            if (innerWidth-250>992 && innerHeight>650 && document.getElementById("myNav").style.width=="250px"){
                document.getElementsByClassName("leftbox")[0].classList.add("fixed");
                document.getElementsByClassName("leftbox")[0].classList.remove("static");
            }
            //Cierre del panel
            if (document.getElementById("myNav").style.width=="0px"){
                document.getElementsByClassName("leftbox")[0].classList.remove("fixed");
                document.getElementsByClassName("leftbox")[0].classList.remove("static");
            }
        });

        window.addEventListener("resize", fixBoxes);
        //Cuando se hace resize de la ventana, si el panel está abierto position de "leftbox" pasa a ser static.
        function fixBoxes(){
            if (document.getElementById("myNav").style.width=="250px"){
                if (innerWidth-250<1250){
                    document.getElementsByClassName("leftbox")[0].classList.add("static");
                    document.getElementsByClassName("leftbox")[0].classList.remove("fixed");
                }
            }
        }
    </script>


</html>	
	