#parse("/velocity/layout.vm")
#mainLayout()

<style>

    [data-href] {
        cursor: pointer;
    }

    footer{
        display:none
    }

    .box{
        margin-bottom: 2%;
        margin-right:1%;
        margin-left:1%;
        border-radius:5px;
        float:left;
    }

    .minibox{
        height:100px;
        background-color: darkblue;
        color:white;
    }
    .minibox-sm{
        width:23%;
    }

    .minibox-medium{
        width:31.33%;
    }

    .minibox i{
        font-size:50px;
        margin-top:25px;
        margin-bottom:25px;
        margin-left: 22px;
        padding-right:10px;
        border-right:1px solid white;
        opacity:0.90;
    }

    .minibox-text{
        display: inline-block;
        padding-left:10px;
        vertical-align: middle;
        margin-bottom:15px;
        opacity:0.98;
    }

    .minibox-text h3{
        margin:0;
    }

    .minibox-text p{
        font-size:85%;
    }

    .boxrows-container{
        margin-left:1%;
        margin-right:1%;


    }

    .greenbox{
        background: rgb(20,107,26);
        background: linear-gradient(90deg, rgba(20,107,26,1) 3%, rgba(37,153,10,1) 62%, rgba(23,164,111,1) 100%);
    }

    .lightgreenbox{
        background: rgb(23,164,111);
        background: linear-gradient(90deg, rgba(23,164,111,1) 25%, rgba(42,191,135,1) 54%, rgba(32,210,143,1) 85%);
    }

    .redbox{
        background: rgb(221,6,6);
        background: linear-gradient(90deg, rgba(221,6,6,1) 43%, rgba(250,0,0,1) 92%, rgba(235,107,107,1) 100%);
    }

    .lightredbox{
        background: rgb(240,77,77);
        background: linear-gradient(90deg, rgba(240,77,77,1) 54%, rgba(237,92,92,1) 107%, rgba(235,109,109,1) 235%);
    }

    .bluebox{
        background: rgb(6,180,221);
        background: linear-gradient(90deg, rgba(6,180,221,1) 25%, rgba(63,188,244,1) 44%, rgba(121,202,207,1) 85%);
    }

    .orangebox{
        background: rgb(221,114,6);
        background: linear-gradient(90deg, rgba(221,114,6,1) 25%, rgba(244,145,63,1) 54%, rgba(222,160,52,1) 85%);
    }

    .minibox:hover{
        transform:scale(1.05);
    }

    @media screen and (max-width: 1410px){
        .boxrows-container .bigbox{
            width:98%;
        }
        .boxrows-container .mediumbox{
            width:98%;
        }

        .minibox-sm{
            width:48%;
        }

    }
    @media screen and (max-width: 1050px){
        .minibox-medium{
            width:98%;
        }
    }

    @media screen and (max-width: 800px){
        .minibox-sm{
            width:98%
        }
    }

    @media screen and (max-width:500px){
        .boxrows-container .left-chart-container{
            width:120%;
            border-right:none;
        }
        .right-chart-container{
            display:none
        }

        #top5table{
            overflow-y:scroll;
        }
    }

    .chart{
        width:95%;
        height:95%;
        padding:15px;
    }

    .bigbox{
        width:60%;
        height:500px;
        background: rgb(247,250,252);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        padding: 15px 15px 30px;
    }

    .mediumbox{
        width:36%;
        height:500px;
        background: rgb(247,250,252);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        padding: 15px 15px 30px;
    }


    #top5barchart{
        height:40%;
        border-bottom: 1px solid lightgrey;
    }

    #top5table{
        height:60%;
    }

    #profitandlosspiechart{
        margin-left:18%
    }

    .left-chart-container{
        float:left; width:50%; height:100%; border-right: 1px solid lightgray;
    }

    .right-chart-container{
        float:left; width:50%; height:100%;
    }




</style>

<html>
	<body class="main">

        <div class="boxrows-container">
            #if($profitreport.getProfit()>0)
            <div class="minibox minibox-medium box greenbox">
            #else
            <div class="minibox minibox-medium box redbox">
            #end
                <i class="fa fa-chart-line"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$profitreport.getProfit())</h3>
                    <p>Total profit</p>
                </div>
            </div>
            <div class="minibox minibox-medium box lightgreenbox">
                <i class="fa fa-chart-bar"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$profitreport.getSalesAndIncomesBase())</h3>
                    <p>Total incomes</p>
                </div>
            </div>
            <div class="minibox minibox-medium box lightredbox">
                <i class="fa fa-chart-bar"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$profitreport.getPurchasesAndExpensesBase())</h3>
                    <p>Total expenses</p>
                </div>
            </div>
        </div>

        <div class="boxrows-container">
            <div class="bigbox box">
                <div class="contentTitle">
                    <h6>Profit and Loss</h6>
                </div>
                <div class="chart">
                    <div class="left-chart-container">
                        <div class="chart" id="profitandlosschart"></div>
                    </div>
                    <div class="right-chart-container">
                        <div class="chart" id="profitandlosspiechart"></div>
                    </div>
                </div>
            </div>
            <div class="mediumbox box">
                <div class="contentTitle">
                    <h6>Top 5 Sales</h6>
                </div>
                <div id="top5barchart"></div>
                <div id="top5table">
                    <table class="table table-hover">
                        <tbody>
                        #foreach($bill in $top5sales.getTop5())
                        <tr data-href="$bill.getUUID()">
                            <td>$bill.getConcept()</td>
                            <td>$date.format("MMM dd, yyyy",$bill.getDate())</td>
                            <td>$number.format("currency",$bill.getTotal())</td>
                        </tr>
                        #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="boxrows-container">
            <div class="minibox minibox-sm box lightgreenbox">
                <i class="fas fa-hand-holding-usd"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$billsDistribution.getSalesAmount())</h3>
                    <p>Total sales</p>
                </div>
            </div>
            <div class="minibox minibox-sm box lightredbox">
                <i class="fa fa-chart-bar"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$billsDistribution.getPurchasesAndServicesAmount())</h3>
                    <p>Total purchases & external services</p>
                </div>
            </div>
            <div class="minibox minibox-sm box bluebox">
                <i class="fa fa-building"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$billsDistribution.getInvestmentsAmount())</h3>
                    <p>Total investments</p>
                </div>
            </div>
            <div class="minibox minibox-sm box orangebox">
                <i class="fa fa-users"></i>
                <div class="minibox-text">
                    <h3>$number.format("currency",$billsDistribution.getSalariesAmount())</h3>
                    <p>Total salaries</p>
                </div>
            </div>
        </div>

        <div class="boxrows-container">
            <div class="bigbox box">
                <div class="contentTitle">
                    <h6>Invoice Distribution</h6>
                </div>
                <div id="billTypeChart" class="chart"></div>
            </div>
            <div class="mediumbox box">
                <div class="contentTitle">
                    <h6>Amortization</h6>
                </div>
                <div id="amortizationBarChart" class="chart"></div>
            </div>
        </div>









    </body>
</html>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var invoiceDistributionBarChartData;
    var invoiceDistributionBarChartOptions;
    var invoiceDistributionBarChart;

    function drawChart() {
        invoiceDistributionBarChartData = google.visualization.arrayToDataTable([
            ['Bill type', 'Sales', 'Purchases', 'Investments', 'Salaries'],
            ['Bill type', $billsDistributionBarChart.getCount('Sales'), $billsDistributionBarChart.getCount('Purchases'),
                $billsDistributionBarChart.getCount('Investments'),$billsDistributionBarChart.getCount('Salaries')]
        ]);

        invoiceDistributionBarChartOptions = {
            chart: {
                title: 'Company Invoice distribution',
                subtitle: 'Incomes, Expenses, Investments and Salaries: 2014-2017',
            },
            bars: 'horizontal', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(23,164,111)','rgb(235,107,107)', 'rgb(121,202,207)', 'rgb(222,160,52)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Amount (€)'}
                }
            }
        };

        invoiceDistributionBarChart = new google.charts.Bar(document.getElementById('billTypeChart'));

        invoiceDistributionBarChart.draw(invoiceDistributionBarChartData, google.charts.Bar.convertOptions(invoiceDistributionBarChartOptions));
    }



</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var top5SalesBarChartData;
    var top5SalesBarChartOptions;
    var top5SalesBarChart;

    function drawChart() {
        top5SalesBarChartData = google.visualization.arrayToDataTable([
            ['Concept', 'Price'],
            ['$top5sales.getTop5()[0].getConcept()',$top5sales.getTop5()[0].getTotal()],
            ['$top5sales.getTop5()[1].getConcept()',$top5sales.getTop5()[1].getTotal()],
            ['$top5sales.getTop5()[2].getConcept()',$top5sales.getTop5()[2].getTotal()],
            ['$top5sales.getTop5()[3].getConcept()',$top5sales.getTop5()[3].getTotal()],
            ['$top5sales.getTop5()[4].getConcept()',$top5sales.getTop5()[4].getTotal()]
        ]);

        top5SalesBarChartOptions = {
            bars: 'vertical', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(23,164,111)','rgb(235,107,107)', 'rgb(121,202,207)', 'rgb(222,160,52)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Amount (€)'}
                }
            }
        };

        top5SalesBarChart = new google.charts.Bar(document.getElementById('top5barchart'));

        top5SalesBarChart.draw(top5SalesBarChartData, google.charts.Bar.convertOptions(top5SalesBarChartOptions));
    }



</script>

<script>
    //Resizign de charts

    window.onload = resize;
    window.onresize = resize;

    document.getElementsByClassName('overlay')[0].addEventListener('transitionend', function(event){
        if(event.propertyName !== 'width') return;
        resize();
    });


    function resize () {

        invoiceDistributionBarChart.draw(invoiceDistributionBarChartData, google.charts.Bar.convertOptions(invoiceDistributionBarChartOptions));
        top5SalesBarChart.draw(top5SalesBarChartData, google.charts.Bar.convertOptions(top5SalesBarChartOptions));
        profitAndLossBarChart.draw(profitAndLossBarChartData, google.charts.Bar.convertOptions(profitAndLossBarChartOptions));
        profitAndLossPieChart.draw(profitAndLossPieChartData,profitAndLossPieChartOptions);
        amortizationBarChart.draw(amortizationBarChartData, google.charts.Bar.convertOptions(amortizationBarChartOptions));
    }


</script>



<script>


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var profitAndLossBarChartData;
    var profitAndLossBarChartOptions;
    var profitAndLossBarChart;

    function drawChart() {
        profitAndLossBarChartData = google.visualization.arrayToDataTable([
            ['Type', 'Incomes', 'Expenses'],
            ['Type', $profitReportBarChart.getCount('Incomes'), $profitReportBarChart.getCount('Expenses')]
        ]);

        profitAndLossBarChartOptions = {
            chart: {
                title: 'Company Profit and Loss: 2014-2017',
            },
            bars: 'vertical', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(23,164,111)','rgb(235,107,107)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Amount (€)'}
                }
            }
        };

        profitAndLossBarChart = new google.charts.Bar(document.getElementById('profitandlosschart'));

        profitAndLossBarChart.draw(profitAndLossBarChartData, google.charts.Bar.convertOptions(profitAndLossBarChartOptions));
    }

</script>




<script type="text/javascript">

    var profitAndLossPieChartData;
    var profitAndLossPieChartOptions;
    var profitAndLossPieChart;

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        profitAndLossPieChartData = google.visualization.arrayToDataTable([
            ['Money', 'Amount',],
            ['Incomes',$profitReportBarChart.getCount('Incomes')],
            ['Expenses', $profitReportBarChart.getCount('Expenses')]
        ]);



        profitAndLossPieChartOptions = {
            is3D: true,
            backgroundColor:'rgb(247,250,252)',
            slices: {
                0: { color: 'rgb(23,164,111)' },
                1: { color: 'rgb(235,107,108)' }
            }
        };



        profitAndLossPieChart = new google.visualization.PieChart(document.getElementById('profitandlosspiechart'));
        profitAndLossPieChart.draw(profitAndLossPieChartData,profitAndLossPieChartOptions);
    }
</script>


<script type="text/javascript">


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var amortizationBarChartData;
    var amortizationBarChartOptions;
    var amortizationBarChart;

    function drawChart() {
        amortizationBarChartData = google.visualization.arrayToDataTable([
            ['Investment', 'Amortization'],
            #foreach($key in $amortizationReportBarChart)
                ['$key',$amortizationReportBarChart.getCount($key)],
            #end

        ]);

        amortizationBarChartOptions = {
            bars: 'horizontal', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(121,202,207)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Percentage (%)'}
                }
            },
            legend: { position: "none" },
        };

        amortizationBarChart = new google.charts.Bar(document.getElementById('amortizationBarChart'));

        amortizationBarChart.draw(amortizationBarChartData, google.charts.Bar.convertOptions(amortizationBarChartOptions));
    }



</script>


<script>
    //Script para que se abra la factura de vent acuando clickas

    $(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = /bills/ + $(this).data("href");
        });
    });
</script>

