#parse("/velocity/layout.vm")
#mainLayout()

<style>

    footer{
        display:none
    }

    .box{
        margin-bottom: 2%;
        margin-right:1%;
        margin-left:1%;
        border-radius:5px;
        float:left;
    }

    .minibox{
        width:23%;
        height:100px;
        background-color: darkblue;
        color:white;
    }

    .minibox i{
        font-size:50px;
        margin-top:25px;
        margin-bottom:25px;
        margin-left: 22px;
        padding-right:10px;
        border-right:1px solid white;
        opacity:0.90;
    }

    .minibox-text{
        display: inline-block;
        padding-left:10px;
        vertical-align: middle;
        margin-bottom:15px;
        opacity:0.98;
    }

    .minibox-text h3{
        margin:0;
    }

    .minibox-text p{
        font-size:85%;
    }

    .boxrows-container{
        margin-left:1%;
        margin-right:1%;


    }

    .greenbox{
        background: rgb(20,107,26);
        background: linear-gradient(90deg, rgba(20,107,26,1) 3%, rgba(37,153,10,1) 62%, rgba(23,164,111,1) 100%);
    }

    .lightgreenbox{
        background: rgb(23,164,111);
        background: linear-gradient(90deg, rgba(23,164,111,1) 25%, rgba(42,191,135,1) 54%, rgba(32,210,143,1) 85%);
    }

    .redbox{
        background: rgb(221,6,6);
        background: linear-gradient(90deg, rgba(221,6,6,1) 43%, rgba(250,0,0,1) 92%, rgba(235,107,107,1) 100%);
    }

    .lightredbox{
        background: rgb(240,77,77);
        background: linear-gradient(90deg, rgba(240,77,77,1) 54%, rgba(237,92,92,1) 107%, rgba(235,109,109,1) 235%);
    }

    .bluebox{
        background: rgb(6,180,221);
        background: linear-gradient(90deg, rgba(6,180,221,1) 25%, rgba(63,188,244,1) 44%, rgba(121,202,207,1) 85%);
    }

    .orangebox{
        background: rgb(221,114,6);
        background: linear-gradient(90deg, rgba(221,114,6,1) 25%, rgba(244,145,63,1) 54%, rgba(222,160,52,1) 85%);
    }

    .minibox:hover{
        transform:scale(1.05);
    }

    @media screen and (max-width: 1400px){
        .boxrows-container .bigbox{
            width:98%;
        }
        .boxrows-container .mediumbox{
            width:98%;
        }

        .minibox{
            width:48%;
        }

    }

    @media screen and (max-width: 800px){
        .minibox{
            width:98%
        }
    }

    .chart{
        width:95%;
        height:95%;
        padding:15px;
    }

    .bigbox{
        width:60%;
        height:500px;
        background: rgb(247,250,252);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        padding: 15px 15px 30px;
    }

    .mediumbox{
        width:36%;
        height:500px;
        background: rgb(247,250,252);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        padding: 15px 15px 30px;
    }


    #top5barchart{
        height:40%;
        border-bottom: 1px solid lightgrey;
    }

    #top5table{
        height:60%;
    }




</style>

<html>
	<body class="main">

        <div class="boxrows-container">
            <div class="minibox box greenbox" style="width:31.33%">
                <i class="fa fa-chart-line"></i>
                <div class="minibox-text">
                    <h3>$9,765</h3>
                    <p>Total profit</p>
                </div>
            </div>
            <div class="minibox box lightgreenbox" style="width:31.33%">
                <i class="fa fa-chart-bar"></i>
                <div class="minibox-text">
                    <h3>$18,921</h3>
                    <p>Total incomes</p>
                </div>
            </div>
            <div class="minibox box lightredbox" style="width:31.33%">
                <i class="fa fa-building"></i>
                <div class="minibox-text">
                    <h3>$8,765</h3>
                    <p>Total expenses</p>
                </div>
            </div>
        </div>

        <div class="boxrows-container">
            <div class="bigbox box">
                <div class="contentTitle">
                    <h6>Profit and Loss</h6>
                </div>
                <div class="chart">
                    <div style="float:left; width:50%; height:100%; border-right: 1px solid lightgray; ">
                        <div class="chart" id="profitandlosschart"></div>
                    </div>
                    <div  style="float:left; width:50%; height:100%;">
                        <div style="margin-left:18%" class="chart" id="profitandlosspiechart"></div>
                    </div>
                </div>
            </div>
            <div class="mediumbox box">
                <div class="contentTitle">
                    <h6>Top 5 Sales</h6>
                </div>
                <div id="top5barchart"></div>
                <div id="top5table">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>Mesas</td>
                            <td>12 May 2019</td>
                            <td>$485</td>
                        </tr>
                        <tr>
                            <td>Armario IK</td>
                            <td>13 May 2019</td>
                            <td>$465</td>
                        </tr>
                        <tr>
                            <td>Lavadora CA</td>
                            <td>11 May 2019</td>
                            <td>$382</td>
                        </tr>
                        <tr>
                            <td>Lavadora CF</td>
                            <td>14 May 2019</td>
                            <td>$375</td>
                        </tr>
                        <tr>
                            <td>Nevera XL</td>
                            <td>11 May 2019</td>
                            <td>$312</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="boxrows-container">
            <div class="minibox box lightgreenbox">
                <i class="fa fa-chart-line"></i>
                <div class="minibox-text">
                    <h3>$29,765</h3>
                    <p>Total sales</p>
                </div>
            </div>
            <div class="minibox box lightredbox">
                <i class="fa fa-chart-bar"></i>
                <div class="minibox-text">
                    <h3>$18,921</h3>
                    <p>Total purchases & external services</p>
                </div>
            </div>
            <div class="minibox box bluebox">
                <i class="fa fa-building"></i>
                <div class="minibox-text">
                    <h3>$8,765</h3>
                    <p>Total investments</p>
                </div>
            </div>
            <div class="minibox box orangebox">
                <i class="fa fa-users"></i>
                <div class="minibox-text">
                    <h3>$19,765</h3>
                    <p>Total salaries</p>
                </div>
            </div>
        </div>

        <div class="boxrows-container">
            <div class="bigbox box">
                <div class="contentTitle">
                    <h6>Invoice Distribution</h6>
                </div>
                <div id="billTypeChart" class="chart"></div>
            </div>
            <div class="mediumbox box">
                <div class="contentTitle">
                    <h6>Amortization</h6>
                </div>
                <div id="amortizationBarChart" class="chart"></div>
            </div>
        </div>









    </body>
</html>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var invoiceDistributionBarChartData;
    var invoiceDistributionBarChartOptions;
    var invoiceDistributionBarChart;

    function drawChart() {
        invoiceDistributionBarChartData = google.visualization.arrayToDataTable([
            ['Bill type', 'Sales', 'Purchases', 'Investments', 'Salaries'],
            ['Bill type', 29765, 18921,8765,19765]
        ]);

        invoiceDistributionBarChartOptions = {
            chart: {
                title: 'Company Invoice distribution',
                subtitle: 'Incomes, Expenses, Investments and Salaries: 2014-2017',
            },
            bars: 'horizontal', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(23,164,111)','rgb(235,107,107)', 'rgb(121,202,207)', 'rgb(222,160,52)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Amount ($)'}
                }
            }
        };

        invoiceDistributionBarChart = new google.charts.Bar(document.getElementById('billTypeChart'));

        invoiceDistributionBarChart.draw(invoiceDistributionBarChartData, google.charts.Bar.convertOptions(invoiceDistributionBarChartOptions));
    }



</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var top5SalesBarChartData;
    var top5SalesBarChartOptions;
    var top5SalesBarChart;

    function drawChart() {
        top5SalesBarChartData = google.visualization.arrayToDataTable([
            ['Concept', 'Price'],
            ['Mesas', 485],
            ['Armario IK', 465],
            ['Lavadora CA', 382],
            ['Lavadora CF', 375],
            ['Nevera XL', 312]
        ]);

        top5SalesBarChartOptions = {
            bars: 'vertical', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(23,164,111)','rgb(235,107,107)', 'rgb(121,202,207)', 'rgb(222,160,52)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Amount ($)'}
                }
            }
        };

        top5SalesBarChart = new google.charts.Bar(document.getElementById('top5barchart'));

        top5SalesBarChart.draw(top5SalesBarChartData, google.charts.Bar.convertOptions(top5SalesBarChartOptions));
    }



</script>

<script>
    //Resizign de charts

    window.onload = resize;
    window.onresize = resize;

    document.getElementsByClassName('overlay')[0].addEventListener('transitionend', function(event){
        if(event.propertyName !== 'width') return;
        resize();
    });


    function resize () {

        invoiceDistributionBarChart.draw(invoiceDistributionBarChartData, google.charts.Bar.convertOptions(invoiceDistributionBarChartOptions));
        top5SalesBarChart.draw(top5SalesBarChartData, google.charts.Bar.convertOptions(top5SalesBarChartOptions));
        profitAndLossBarChart.draw(profitAndLossBarChartData, google.charts.Bar.convertOptions(profitAndLossBarChartOptions));
        profitAndLossPieChart.draw(profitAndLossPieChartData,profitAndLossPieChartOptions);
        amortizationBarChart.draw(amortizationBarChartData, google.charts.Bar.convertOptions(amortizationBarChartOptions));
    }


</script>



<script>


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var profitAndLossBarChartData;
    var profitAndLossBarChartOptions;
    var profitAndLossBarChart;

    function drawChart() {
        profitAndLossBarChartData = google.visualization.arrayToDataTable([
            ['Type', 'Incomes', 'Expenses'],
            ['Type', 189765, 122212]
        ]);

        profitAndLossBarChartOptions = {
            chart: {
                title: 'Company Profit and Loss: 2014-2017',
            },
            bars: 'vertical', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(23,164,111)','rgb(235,107,107)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Amount ($)'}
                }
            }
        };

        profitAndLossBarChart = new google.charts.Bar(document.getElementById('profitandlosschart'));

        profitAndLossBarChart.draw(profitAndLossBarChartData, google.charts.Bar.convertOptions(profitAndLossBarChartOptions));
    }

</script>




<script type="text/javascript">

    var profitAndLossPieChartData;
    var profitAndLossPieChartOptions;
    var profitAndLossPieChart;

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        profitAndLossPieChartData = google.visualization.arrayToDataTable([
            ['Money', 'Amount',],
            ['Incomes',     189765],
            ['Expenses',   122212]
        ]);



        profitAndLossPieChartOptions = {
            is3D: true,
            backgroundColor:'rgb(247,250,252)',
            slices: {
                0: { color: 'rgb(23,164,111)' },
                1: { color: 'rgb(235,107,108)' }
            }
        };



        profitAndLossPieChart = new google.visualization.PieChart(document.getElementById('profitandlosspiechart'));
        profitAndLossPieChart.draw(profitAndLossPieChartData,profitAndLossPieChartOptions);
    }
</script>


<script type="text/javascript">


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    var amortizationBarChartData;
    var amortizationBarChartOptions;
    var amortizationBarChart;

    function drawChart() {
        amortizationBarChartData = google.visualization.arrayToDataTable([
            ['Concept', 'Amortization'],
            ['Office', 21.1],
            ['Models&Tools', 12.2],
            ['Telephone', 65.72],
            ['Buildings', 98.12],
            ['Satellite', 23.23],
            ['Transport', 44.51],
            ['Computtional', 12.43],
            ['Machinery&Others', 43.2],

        ]);

        amortizationBarChartOptions = {
            bars: 'horizontal', // Required for Material Bar Charts.
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(121,202,207)'],
            axes: {
                y: {
                    0: {label: ''} // Top x-axis.
                },
                x: {
                    0: {label: 'Percentage (%)'}
                }
            },
            legend: { position: "none" },
        };

        amortizationBarChart = new google.charts.Bar(document.getElementById('amortizationBarChart'));

        amortizationBarChart.draw(amortizationBarChartData, google.charts.Bar.convertOptions(amortizationBarChartOptions));
    }



</script>

	