#parse("/velocity/layout/mainLayout.vm")
#@mainLayout()

<link rel="stylesheet" href="/css/reports.css">

<div class="rightbox">
    <div class="content">
        <div class="contentTitle">
            <div class="row phonescrollable">
                <div class="col-9"><h2>Investments report</h2></div>
                <div class="col-3">
                    <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal">Compare
                    </button>
                </div>
            </div>
        </div>

        <br>
        <div class="phonescrollable">
            <table class="table table-hover fixed_header" id="myTable">
                <thead>
                <tr>
                    <th>Investments</th>
                    <th><span class="numSpan" style="text-align: right">Total amount</span></th>
                </tr>
                </thead>
                <tbody>
                <tr id="buildings" class="opener">
                    <td>Buildings</td>
                    <td><span class="numSpan">$number.format("currency",$report.getBuildingsBase())</span></td>
                </tr>
                    #foreach($bill in $report.getBuildings())
                    <tr data-href="$bill.getUUID()" class="hidden buildings bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="furniture" class="opener">
                    <td>Furniture and office equipment</td>
                    <td><span class="numSpan">$number.format("currency",$report.getOfficeEquipmentBase())</span></td>
                </tr>
                    #foreach($bill in $report.getOfficeEquipment())
                    <tr data-href="$bill.getUUID()" class="hidden furniture bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="transport" class="opener">
                    <td>Transport equipment</td>
                    <td><span class="numSpan">$number.format("currency",$report.getTransportEquipmentBase())</span></td>
                </tr>
                    #foreach($bill in $report.getTransportEquipment())
                    <tr data-href="$bill.getUUID()" class="hidden transport bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="computational" class="opener">
                    <td>Computational equipment and accesories</td>
                    <td><span class="numSpan">$number.format("currency",$report.getComputationalEquipmentBase())</span></td>
                </tr>
                    #foreach($bill in $report.getComputationalEquipment())
                    <tr data-href="$bill.getUUID()" class="hidden computational bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="models" class="opener">
                    <td>Models and Tools</td>
                    <td><span class="numSpan">$number.format("currency",$report.getModelsAndToolsBase())</span></td>
                </tr>
                    #foreach($bill in $report.getModelsAndTools())
                    <tr data-href="$bill.getUUID()" class="hidden models bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="telephone" class="opener">
                    <td>Telephone communications</td>
                    <td><span class="numSpan">$number.format("currency",$report.getTelephoneCommunicationsBase())</span></td>
                </tr>
                    #foreach($bill in $report.getTelephoneCommunications())
                    <tr data-href="$bill.getUUID()" class="hidden telephone bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="satellite" class="opener">
                    <td>Satellite communications</td>
                    <td><span class="numSpan">$number.format("currency",$report.getSatelliteCommunicationsBase())</span></td>
                </tr>
                    #foreach($bill in $report.getSatelliteCommunications())
                    <tr data-href="$bill.getUUID()" class="hidden satellite bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr id="other" class="opener">
                    <td>Other machinery and equipment</td>
                    <td><span class="numSpan">$number.format("currency",$report.getOtherMachineryAndEquipmentBase())</span></td>
                </tr>
                    #foreach($bill in $report.getOtherMachineryAndEquipment())
                    <tr data-href="$bill.getUUID()" class="hidden other bill">
                        <td>
                            <li>$bill.getConcept()</li>
                        </td>
                        <td><span class="numSpan">$number.format("currency",$bill.getSubtotal())</span></td>
                    </tr>
                    #end
                <tr style="border-top:ridge;border-bottom:ridge;background-color: #f7f7f7; font-size:115%">
                    <td><b>All investments</b></td>
                    <td style=""><span class="numSpan">$number.format("currency",$report.getBase())</span></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="leftbox">
    <div class="content" style="margin-bottom:5%">
        <div>
            <h4 class="contentTitle">Investment period</h4>
            <br>
            <div>
                <form>
                    <div class="row">
                        <div class="col">
                            <p>Period start</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control" type="date" value="2011-08-19" id="pStart" name="periodStart">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Period end</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control" type="date" value="2011-08-19" id="pEnd" name="periodEnd">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" value="Submit" class="btn btn-secondary" style="float:right">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="content" style="height:60%; margin-bottom:5%">
        <div>
            <h4 class="contentTitle">Investment Chart</h4>
        </div>
        <div id="piechart" style="height:90%"></div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: rgb(234,241,247)">
                <h4 class="modal-title">Select report periods</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="compareForm" action="/reports/compare/investments">
                    <div class="container">
                        <h6>Report 1</h6>
                        <br>
                        <div class="row">
                            <div class="col">
                                <p>Period start</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pStart1" value="2016-08-19"
                                       name="periodStart">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Period end</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pEnd1" value="2017-08-19" name="periodEnd">
                            </div>
                        </div>
                        <h6>Report 2</h6>
                        <br>
                        <div class="row">
                            <div class="col">
                                <p>Period start</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pStart2" value="2018-08-19"
                                       name="periodStart1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Period end</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pEnd2" value="2019-08-19" name="periodEnd1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" style="background-color: rgb(234,241,247)">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" form="compareForm" class="btn btn-success">Compare</button>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script>
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    var data;
    var options;
    var chart;

    function drawChart() {
        data = google.visualization.arrayToDataTable([
            ['Investment', 'Base'],
            #foreach($key in $barChart)
                ['$key',$barChart.getCount($key)],
            #end
        ]);

        options = {
            title: 'Investments',
            backgroundColor: 'rgb(247,250,252)'
        };

        chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }

    function resize() {
        chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }

    window.onload = resize;
    window.onresize = resize;

    document.getElementsByClassName('overlay')[0].addEventListener('transitionend', function (event) {
        if (event.propertyName !== 'width') return;
        resize();
        setTimeout(function(){ resize()},10);
    });
</script>

<script src="/javascript/reportsControl.js"></script>

<script>
    setPeriodStartDate($report.getPeriodStart().getYear(),$report.getPeriodStart().getMonth(),$report.getPeriodStart().getDate())
    setPeriodEndDate($report.getPeriodEnd().getYear(),$report.getPeriodEnd().getMonth(),$report.getPeriodEnd().getDate())
</script>

#end
	