#parse("/velocity/layout.vm")
#mainLayout()
<html>
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <style>
        [data-href] {
            cursor: pointer;
        }
        thead {
            background-color: rgb(0,51,102);
            color:white;
            font-size:117%
        }

        span {
            border-bottom: ridge;
        }
        input,select {
            margin-top: 10px;
        }

        .opener {
            cursor: pointer;
            font-size:115%;

        }

        .opened {
            border-bottom: groove
        }

        .hidden {
            display:none;
        }

        .bill {
            font-style: italic;
            background-color: #ebfcfc;

        }

        .italic {
            font-style: italic;
        }

        .rightbox{
            float:right;
            width:55%;
            margin-right:5%;
            margin-bottom:5%

        }

        .leftbox{
            position:fixed;
            float:left;
            width: 30%;
            margin-left: 5%;
            height:75%;
            margin-bottom:5%
        }

        footer {
            display: none;
        }

        @media screen and (max-width: 992px) {
            .rightbox{
                float:none;
                width:90%;
                margin-right:0%;
                margin-left: 5%;

            }
            .leftbox{
                position:static;
                float:none;
                width:90%;

            }
        }







    </style>

    <body>
        <div class="rightbox">
            <div class = "container content">
                <div style="border-bottom: double;">
                    <h2>Investment report</h2>
                </div>

                <br>

                <table class="table table-hover fixed_header" id="myTable" style="">
                    <thead>
                    <tr>
                        <th>Investments</th>
                        <th>Base</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="buildings" class="opener">
                        <td>Buildings</td>
                        <td>$report.getBuildingsBase()</td>
                    </tr>
                        #foreach($bill in $report.getBuildings())
                        <tr data-href="$bill.getUUID()" class="hidden buildings bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="furniture" class="opener">
                        <td>Furniture and office equipment</td>
                        <td>$report.getOfficeEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getOfficeEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden furniture bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="transport" class="opener">
                        <td>Transport equipment</td>
                        <td>$report.getTransportEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getTransportEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden transport bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="computational" class="opener">
                        <td>Computational equipment and accesories</td>
                        <td>$report.getComputationalEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getComputationalEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden computational bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="models" class="opener">
                        <td>Models and Tools</td>
                        <td>$report.getModelsAndToolsBase()</td>
                    </tr>
                        #foreach($bill in $report.getModelsAndTools())
                        <tr data-href="$bill.getUUID()" class="hidden models bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="telephone" class="opener">
                        <td>Telephone communications</td>
                        <td>$report.getTelephoneCommunicationsBase()</td>
                    </tr>
                        #foreach($bill in $report.getTelephoneCommunications())
                        <tr data-href="$bill.getUUID()" class="hidden telephone bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="satellite" class="opener">
                        <td>Satellite communications</td>
                        <td>$report.getSatelliteCommunicationsBase()</td>
                    </tr>
                        #foreach($bill in $report.getSatelliteCommunications())
                        <tr data-href="$bill.getUUID()" class="hidden satellite bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="other" class="opener">
                        <td>Other machinery and equipment</td>
                        <td>$report.getOtherMachineryAndEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getOtherMachineryAndEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden other bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr style="border-top:ridge;border-bottom:ridge;background-color: #f7f7f7; font-size:115%">
                        <td><b>All investments</b></td>
                        <td style="">$report.getBase()</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="leftbox" style="margin-right:5%">
            <div class="container content" style="height:30%; margin-bottom:5%">
                <div><h3 style="border-bottom:double">Investment period</h3></div>
            </div>
            <div class="container content" style="height:70%">
                <div>
                    <h3 style="border-bottom:double">Investment Chart</h3>
                </div>
                <div id="piechart" style="height:90%"></div>
            </div>
        </div>




    </body>

    <script>

        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = /bills/ + $(this).data("href");
            });
            $('.opener').on('click', function() {
                var itemsToToggleClass = "." + jQuery(this).attr("id");
                jQuery(this).toggleClass("opened");
                $(itemsToToggleClass).toggleClass("hidden");
                //$(itemsToToggleClass).last().css( "border-bottom", "groove" );
            });


        });
    </script>


    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var data;
        var options;
        var chart;

        function drawChart() {
            data = google.visualization.arrayToDataTable([
                ['Investment', 'Base'],
                ['Buildings',     $report.getBuildingsBase()],
                ['Office',      $report.getOfficeEquipmentBase()],
                ['Computation',  $report.getTransportEquipmentBase()],
                ['Models&Tools', $report.getModelsAndToolsBase()],
                ['Telephone',    $report.getTelephoneCommunicationsBase()],
                ['Satellite', $report.getSatelliteCommunicationsBase()],
                ['Machinery&Others', $report.getOtherMachineryAndEquipmentBase()]
            ]);

            options = {
                title: 'My Daily Activities'
            };

            chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        function resize () {
            chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        window.onload = resize;
        window.onresize = resize;
    </script>


</html>	
	