#parse("/velocity/layout.vm")
#mainLayout()
<html>
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>

    <style>
        [data-href] {
            cursor: pointer;
        }
        thead {
            background-color: rgb(0,51,102);
            color:white;
            font-size:117%
        }

        span {
            border-bottom: ridge;
        }
        input,select {
            margin-top: 10px;
        }

        .opener {
            cursor: pointer;
            font-size:115%;

        }

        .opened {
            border-bottom: groove
        }

        .hidden {
            display:none;
        }

        .bill {
            font-style: italic;
            background-color: #ebfcfc;

        }

        .italic {
            font-style: italic;
        }







    </style>

    <body>
        <div class = "container content" style="">
            <div style="border-bottom: double;">
                <h2>Investment report</h2>
            </div>

            <br>

            <table class="table table-hover fixed_header" id="myTable" style="">
                <thead>
                    <tr>
                        <th>Investments</th>
                        <th>Base</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="buildings" class="opener">
                        <td>Buildings</td>
                        <td>$report.getBuildingsBase()</td>
                    </tr>
                        #foreach($bill in $report.getBuildings())
                            <tr data-href="$bill.getUUID()" class="hidden buildings bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                        #end
                    <tr id="furniture" class="opener">
                        <td>Furniture and office equipment</td>
                        <td>$report.getOfficeEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getOfficeEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden furniture bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="transport" class="opener">
                        <td>Transport equipment</td>
                        <td>$report.getTransportEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getTransportEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden transport bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="computational" class="opener">
                        <td>Computational equipment and accesories</td>
                        <td>$report.getComputationalEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getComputationalEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden computational bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="models" class="opener">
                        <td>Models and Tools</td>
                        <td>$report.getModelsAndToolsBase()</td>
                    </tr>
                        #foreach($bill in $report.getModelsAndTools())
                        <tr data-href="$bill.getUUID()" class="hidden models bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="telephone" class="opener">
                        <td>Telephone communications</td>
                        <td>$report.getTelephoneCommunicationsBase()</td>
                    </tr>
                        #foreach($bill in $report.getTelephoneCommunications())
                        <tr data-href="$bill.getUUID()" class="hidden telephone bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="satellite" class="opener">
                        <td>Satellite communications</td>
                        <td>$report.getSatelliteCommunicationsBase()</td>
                    </tr>
                        #foreach($bill in $report.getSatelliteCommunications())
                        <tr data-href="$bill.getUUID()" class="hidden satellite bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr id="other" class="opener">
                        <td>Other machinery and equipment</td>
                        <td>$report.getOtherMachineryAndEquipmentBase()</td>
                    </tr>
                        #foreach($bill in $report.getOtherMachineryAndEquipment())
                        <tr data-href="$bill.getUUID()" class="hidden other bill">
                            <td><li>$bill.getConcept()</li></td>
                            <td>$bill.getSubtotal()</td>
                        </tr>
                        #end
                    <tr style="border-top:ridge;border-bottom:ridge;background-color: #f7f7f7; font-size:115%">
                        <td><b>All investments</b></td>
                        <td style="">$report.getBase()</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="container content" style="margin-top:20px; margin-bottom:50px">
            <img id="pdf" src="/pdf.png" style="max-height:50px">
        </div>
    </body>

    <script>

        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = /bills/ + $(this).data("href");
            });
            $('.opener').on('click', function() {
                var itemsToToggleClass = "." + jQuery(this).attr("id");
                jQuery(this).toggleClass("opened");
                $(itemsToToggleClass).toggleClass("hidden");
                //$(itemsToToggleClass).last().css( "border-bottom", "groove" );
            });
            $("#pdf").on('click', function(){
                var doc = new jsPDF();
                console.log("hey");
                doc.autoTable({ html: '#myTable' });
                doc.save('table.pdf')

            })

        });
    </script>


</html>	
	