#macro(mainLayout)
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>

	html {
		position: relative;
		font-family: 'Lato', sans-serif;
		min-height:100%;
	}


	header {



	}

	nav {
		background-color:rgb(234,241,247);
		border-bottom: 1px solid grey;
		margin-bottom: 50px;
		/*box-shadow: 0 1px 0 0 rgba(0,0,0,.6);*/
		color:black;
	}

	body {
		##margin-top: 120px;
		position: relative;
		background-color:#F8F8F8;
		padding-bottom: 10px;

	}


	footer {
		clear:both;
		left: 0;
		position: absolute;
		bottom: 0;
		line-height: 40px;
		width: 100%;
		text-align: center;
		background: rgb(247,250,252);
		border-top: 1px solid black;
		font-size: 14px;

	}

	.content {
		background: rgb(247,250,252);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		padding: 15px 15px 30px;
		opacity:0.95;
		border-radius:3px;
	}

	.contentTitle{
		border-bottom: double lightgray;
	}


	.main {
		transition: margin-left .5s;
	}


	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}

	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
	}

	.overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}

	@media screen and (max-height: 450px) {
		.overlay a {font-size: 20px}
		.overlay .closebtn {
			font-size: 40px;
			top: 15px;
			right: 35px;

		}
	}

	.menuOpener{
		cursor:pointer
	}
	.menuOpener:hover{
		transform : scale(1.10)
	}

	.popover-wrapper{
		position:relative;
		cursor:pointer;
	}

	#userIcon:hover{
		transform: scale(1.10);
	}

	.popover-content{
		padding:15px;
		z-index:2;
		position:absolute;
		left:-200px;
		width:200px;
		text-align: center;
		background-color: rgb(247,250,252);
		border: 2px groove darkgrey;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		border-radius:5px;
		visibility:hidden;

	}


	


	.butn {
		background-color: lightgrey;
		border: 0.5px solid black;
		border-radius:3px;
		color: black;
		padding: 12px 16px;
		font-size: 16px;
		cursor: pointer;
	}

	.butn:hover {
		background-color: RoyalBlue;
	}

</style>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FinBook</title>
	<link rel="shortcut icon" href="/favicon28.png" type="image/x-icon">
</head>

<header id="main">
	<nav class="navbar navbar-expand-sm">

		<!-- Button for open side Menu -->

		<a class="nav-link menuOpener" ><img src="/menu.png" alt="logo" style="height:20px" id="openMenuBtn" onclick="openNav()"></a>

		<!-- Brand/logo -->
		#if($currentUser)
			<a class="navbar-brand" href="/main">
				<img src="/favicon28.png" alt="logo" style="height:30px ">
			</a>
		#else
			<a class="navbar-brand" href="/index/">
				<img src="/favicon28.png" alt="logo" style="height:30px ">
			</a>
		#end

		<!-- Brand WebPage name -->

		<span>FinBook</span>


		<!-- User Icon  -->

		#if($currentUser)
			<ul class="navbar-nav ml-auto">
			<div class="popover-wrapper">

				<!--  User Icon in NavBar!-->
				<div class="popover-title" id="userIcon">
					<li class="nav-item">
						<a><i class="fa fa-user-circle fa-2x" aria-hidden="true" ></i></a>
					</li>
				</div>

				<!--  User Panel when User Icon is clicked -->
				<div class="popover-content" id="userPanel">
					<div style="border-bottom: 1px solid darkgrey">
						<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
						<p class="popover-message">$businessName</p>
					</div>
					<div style="margin-top:10%">
						<div>
							<button id="languageIcon" class="butn" style="width:121px"><i class="fa fa-language" aria-hidden="true"></i>&nbspLanguage</button>
						</div>
						<br>
						<form id="logOutForm" action="/logout" method="post" style="display:none"></form>
						<button onclick="submitLogOutForm()" class="butn" style="width:121px"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbspLog out</button>
					</div>
				</div>

				<!--  Language Panel when Language Button is clicked -->
				<div class="popover-content" id="languagePanel">
					<div style="border-bottom: 1px solid darkgrey">
						<i class="fa fa-language fa-2x" aria-hidden="true"></i>
						<p class="popover-message">Select language</p>
					</div>
					<div style="margin-top:10%">
						<form id="esLanguageForm" style="display:none"><input name="locale" value="es"></form>
						<form id="enLanguageForm" style="display:none"><input name="locale" value="en"></form>
						<button name="locale" value="es" onclick="submitLanguageForm('en')" class="butn" style="width:121px"><i class="fa fa-language" aria-hidden="true"></i>&nbspEnglish</button>
						<br>
						<br>
						<button name="locale" value="es" onclick="submitLanguageForm('es')" class="butn" style="width:121px"><i class="fa fa-language" aria-hidden="true"></i>&nbspSpanish</button>
					</div>
				</div>
		#end



			</div>
		</ul>
	</nav>

	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" id="closeMenuBtn" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			#if($currentUser)
				<form action="/logout" method="post" id="xd">
					<a href= "#" onclick=submitLogOutForm()>Log out</a>
				</form>
			#else
				<a href="/login">Login</a>
			#end
			<a href="#">About</a>
			<a href="#">Contact</a>
		</div>
	</div>



</header>



<script>
	function openNav() {
		if (innerWidth<650){
			document.getElementById("myNav").style.width = "100%";
		} else{
			document.getElementById("myNav").style.width = "250px";
			document.getElementsByClassName("main")[0].style.marginLeft = "250px";
			document.getElementsByClassName("main")[1].style.marginLeft = "250px";
		}

	}

	function closeNav() {
		document.getElementById("myNav").style.width = "0";
		document.getElementsByClassName("main")[0].style.marginLeft = 0;
		document.getElementsByClassName("main")[1].style.marginLeft = 0;
	}




</script>

<script>

	var userPanel =$("#userPanel");
	var userIcon= $("#userIcon");
	var languageIcon= $("#languageIcon");
	var languagePanel=$("#languagePanel");
	var panel = $(".popover-content");

	userIcon.click(function() {
		userPanel.css("visibility", "visible");
		return false;
	});

	languageIcon.click(function() {
		userPanel.css("visibility", "hidden");
		languagePanel.css("visibility", "visible");
		return false;
	});


	// When any place of the document is clicked, both panels are hidden.
	$(document).click(function() {
		userPanel.css("visibility","hidden");
		languagePanel.css("visibility","hidden");
	});

	// When clicking inside any of the panels, panels won't hide

	panel.click(function(){
		return false;
	})

	function submitLogOutForm(){
		document.getElementById("logOutForm").submit();

	}

	function submitLanguageForm(language){
		if (language=='es') document.getElementById("esLanguageForm").submit();
		if (language=='en') document.getElementById("enLanguageForm").submit();
	}
</script>


<body>

</body>



<footer>
	<!-- Copyright -->
	<div>© 2019 Copyright:
		<a href="finbook.io"> FinBook</a>
	</div>
	<!-- Copyright -->
</footer>



</html>
#end