#macro(mainLayout)
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>

	html {
		position: relative;
		font-family: 'Lato', sans-serif;
		min-height:100%;
	}


	header {



	}

	nav {
		background-color:rgb(234,241,247);
		margin-bottom: 50px;
		/*box-shadow: 0 1px 0 0 rgba(0,0,0,.6);*/
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		color:black;
	}

	body {
		##margin-top: 120px;
		position: relative;
		font-family: Lato, sans-serif;
		background-color:#F8F8F8;
		padding-bottom: 10px;

	}


	footer {
		clear:both;
		left: 0;
		position: absolute;
		bottom: 0;
		line-height: 40px;
		width: 100%;
		text-align: center;
		background: rgb(247,250,252);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		font-size: 14px;

	}

	.content {
		background: rgb(247,250,252);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		padding: 15px 15px 30px;
		opacity:0.95;
		border-radius:3px;
	}

	.contentTitle{
		border-bottom: double lightgray;
	}


	.main {
		transition: margin-left .5s;
	}



	.overlay {
		height: 100%;
		width: 0px;
		position: fixed;
		z-index: 2;
		color: white;
		top: 0;
		left: 0;
		background-color: rgb(19,30,41);
		overflow-x: hidden;
		transition: 0.5s;
	}

	.overlay-closebtn {
		position: absolute;
		right: 25px;
		font-size: 40px;
		top:-5px;
		color:white;
		visibility:hidden;
		text-decoration: none;
	}


	.overlay-content {
		position: relative;
		top: 0%;
		width: 100%;
		margin-top: 15px;
	}

	.overlay-content-row{
		padding: 8px 15px;
		color:rgb(88,96,103);
		margin-left:2.5px;
		margin-right:2.5px;
		transition:0.3s;
	}

	.overlay-content-row-selected{
		background-color: rgb(47,56,66);
		color:rgb(238,239,240);
	}

	.overlay-content-row img{
		height:30px;
		display: inline-block;
		vertical-align: middle;
	}

	.overlay-content-row a{
		font-size:26px;
		text-decoration: none;
		padding-left:15px;
		color:inherit;
		display: inline-block;
		vertical-align: middle;
	}
	.overlay-content-row i{
		font-size:26px;
		padding-top:5px;
		display: inline-block;
		vertical-align: middle;
	}

	.overlay-closebtn:hover{
		color:white;
	}


	.overlay-title{
		height:57px;
		border-bottom: 0.5px solid darkgrey;
		font-size:36px;
		text-align: center
	}

	.lefticon{
		display:inline-block;
		width:25px;
	}

	.righticon{
		float:right;
	}

	.hidden {
		display:none;
	}


	.overlay-subrow i{
		padding-top:12px; padding-left: 15px;
		font-size:15px;
		float:left;
	}

	.overlay-subrow-selected{
		color:rgb(238,239,240);
	}

	.overlay-content-row:hover{
		color: #f1f1f1;
	}


	@media screen and (max-height: 450px) {
		.overlay a {font-size: 20px}
	}

	@media screen and (max-width: 650px){
		.overlay-closebtn{
			visibility: visible;
		}
	}

	.menuBtn{
		cursor:pointer
	}
	.menuBtn:hover{
		transform : scale(1.10)
	}

	.popover-wrapper{
		position:relative;
		cursor:pointer;
	}

	#userIcon:hover{
		transform: scale(1.10);
	}

	.popover-content{
		padding:15px;
		z-index:2;
		position:absolute;
		left:-200px;
		width:200px;
		text-align: center;
		background-color: rgb(247,250,252);
		border: 2px groove darkgrey;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		border-radius:5px;
		visibility:hidden;
	}


	.butn {
		background-color: lightgrey;
		border: 0.5px solid black;
		border-radius:3px;
		color: black;
		padding: 12px 16px;
		font-size: 16px;
		cursor: pointer;
	}

	.butn:hover {
		background-color: RoyalBlue;
	}

</style>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FinBook</title>
	<link rel="shortcut icon" href="/favicon28.png" type="image/x-icon">
</head>

<header id="main">
	<nav class="navbar navbar-expand-sm">

		<!-- Button for open side Menu -->

		<a class="nav-link menuBtn" ><img src="/openMenu.png" alt="logo" style="height:20px" id="menuBtn" onclick="navHandler()"></a>

		<!-- Brand/logo -->
		#if($currentUser)
			<a class="navbar-brand" href="/main">
				<img src="/favicon28.png" alt="logo" style="height:30px ">
			</a>
		#else
			<a class="navbar-brand" href="/login">
				<img src="/favicon28.png" alt="logo" style="height:30px ">
			</a>
		#end

		<!-- Brand WebPage name -->

		<span style="font-size:18px; color: rgb(176,35,25); font-family: Arial; border-bottom: 1px solid lightgray;">Fin</span><span style="font-size:18px; color: rgb(7,33,92); font-family: Arial; border-bottom: 1px solid lightgray;">book</span>


		<!-- User Icon  -->

		#if($currentUser)
			<ul class="navbar-nav ml-auto">
			<div class="popover-wrapper">

				<!--  User Icon in NavBar!-->
				<div class="popover-title" id="userIcon">
					<li class="nav-item">
						<a><i class="fa fa-user-circle fa-2x" aria-hidden="true" ></i></a>
					</li>
				</div>

				<!--  User Panel when User Icon is clicked -->
				<div class="popover-content" id="userPanel">
					<div style="border-bottom: 1px solid darkgrey">
						<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
						<p class="popover-message">$!businessName</p>
					</div>
					<div style="margin-top:10%">
						<div>
							<button id="languageIcon" class="butn" style="width:123px"><i class="fa fa-language" aria-hidden="true"></i>&nbspLanguage</button>
						</div>
						<br>
						<form id="logOutForm" action="/logout" method="post" style="display:none"></form>
						<button onclick="submitLogOutForm()" class="butn" style="width:123px"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbspLog out</button>
					</div>
				</div>

				<!--  Language Panel when Language Button is clicked -->
				<div class="popover-content" id="languagePanel">
					<div style="border-bottom: 1px solid darkgrey">
						<i class="fa fa-language fa-2x" aria-hidden="true"></i>
						<p class="popover-message">Select language</p>
					</div>
					<div style="margin-top:10%">
						<form id="esLanguageForm" style="display:none"><input name="locale" value="es"></form>
						<form id="enLanguageForm" style="display:none"><input name="locale" value="en"></form>
						<button name="locale" value="es" onclick="submitLanguageForm('en')" class="butn" style="width:121px"><i class="fa fa-language" aria-hidden="true"></i>&nbspEnglish</button>
						<br>
						<br>
						<button name="locale" value="es" onclick="submitLanguageForm('es')" class="butn" style="width:121px"><i class="fa fa-language" aria-hidden="true"></i>&nbspSpanish</button>
					</div>
				</div>
		#end



			</div>
		</ul>
	</nav>

	<div id="myNav" class="overlay">
		<div class="overlay-title">
			<p style="display:inline">Menu</p>
			<a href="javascript:void(0)" id="closeMenuBtn" class="overlay-closebtn" onclick="closeNav()">x</a>
		</div>
		<div class="overlay-content">
			<div class="overlay-content-row" id="dashboardNavRow">
				<i class="fa fa-th lefticon" aria-hidden="true"></i>
				<a href="/dashboard">Dashboard</a>

			</div>
			<div class="overlay-content-row subrow-opener" id="billsNavRow">
				<i class="fa fa-file-alt lefticon"></i>
				<a href="#">Bills</a>
				<i class="fa fa-angle-left righticon" aria-hidden="true"></i>
			</div>
					<div class="overlay-content-subrow-container hidden billsNavRow">
						<div class="overlay-content-row overlay-subrow" id="myBillsSubRow">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<a href="/bills">My Bills</a>
						</div>
						<div class="overlay-content-row overlay-subrow" id="timelineSubRow">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<a href="/timeline">Timeline</a>
						</div>
					</div>
			<div class="overlay-content-row subrow-opener" id="reportsNavRow">
				<i class="fas fa-file-contract lefticon" aria-hidden="true"></i>
				<a href="#">Reports</a>
				<i class="fa fa-angle-left righticon" aria-hidden="true"></i>
			</div>
					<div class="overlay-content-subrow-container hidden reportsNavRow">
						<div class="overlay-content-row overlay-subrow" id="investmentsSubRow">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<a href="/reports/investments">Investments</a>
						</div>
						<div class="overlay-content-row overlay-subrow" id="profitSubRow">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<a href="/reports/profitandlosses">Profit&Loss</a>
						</div>
						<div class="overlay-content-row overlay-subrow" id="amortizationSubRow">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<a href="/reports/amortization">Amortization</a>
						</div>
					</div>
			<div class="overlay-content-row" id="uploadNavRow">
				<i class="fa fa-upload lefticon" aria-hidden="true"></i>
				<a href="/index/">Upload bills</a>
			</div>
			<div class="overlay-content-row subrow-opener" id="statisticsNavRow" >
				<i class="fa fa-chart-line lefticon" aria-hidden="true"></i>
				<a href="#">Statistics</a>
				<i class="fa fa-angle-left righticon" aria-hidden="true"></i>
			</div>
			<div class="overlay-content-subrow-container hidden reports">
			</div>
		</div>
	</div>



</header>



<script>
	//Script to know display where you are on side menu
	$(document).ready(function($){
		console.log(window.location.pathname);
		if(window.location.pathname=="/dashboard") $('#dashboardNavRow').toggleClass('overlay-content-row-selected');
		if(window.location.pathname=="/bills"){
			$('#billsNavRow').toggleClass('overlay-content-row-selected');
			$('#billsNavRow').find('.righticon').toggleClass('fa-angle-left');
			$('#billsNavRow').find('.righticon').toggleClass('fa-angle-down');
			var itemsToToggleClass = "." + $('#billsNavRow').attr("id");
			$(itemsToToggleClass).toggleClass("hidden");
			$('#myBillsSubRow').toggleClass('overlay-subrow-selected');
		}
		if(window.location.pathname=="/timeline"){
			$('#billsNavRow').toggleClass('overlay-content-row-selected');
			$('#billsNavRow').find('.righticon').toggleClass('fa-angle-left');
			$('#billsNavRow').find('.righticon').toggleClass('fa-angle-down');
			var itemsToToggleClass = "." + $('#billsNavRow').attr("id");
			$(itemsToToggleClass).toggleClass("hidden");
			$('#timelineSubRow').toggleClass('overlay-subrow-selected');
		}
		if(window.location.pathname.indexOf("/reports")!=-1) {
			$('#reportsNavRow').toggleClass('overlay-content-row-selected');
			$('#reportsNavRow').find('.righticon').toggleClass('fa-angle-left');
			$('#reportsNavRow').find('.righticon').toggleClass('fa-angle-down');
			var itemsToToggleClass = "." + $('#reportsNavRow').attr("id");
			$(itemsToToggleClass).toggleClass("hidden");
			if(window.location.pathname.indexOf("investments")!=-1) $('#investmentsSubRow').toggleClass('overlay-subrow-selected');
			if(window.location.pathname.indexOf("profitandlosses")!=-1) $('#profitSubRow').toggleClass('overlay-subrow-selected');
			if(window.location.pathname.indexOf("amortization")!=-1) $('#amortizationSubRow').toggleClass('overlay-subrow-selected');
		}
		if(window.location.pathname=="/index/") $('#uploadNavRow').toggleClass('overlay-content-row-selected');
		if(window.location.pathname=="/exampleshiny") $('#statisticsNavRow').toggleClass('overlay-content-row-selected');

	})


</script>

<script>
	//Script for opening/closing subrows in side menu

	$(document).ready(function($) {
		$('.subrow-opener').on('click', function() {
			var itemsToToggleClass = "." + $(this).attr("id");
			$(this).find('.righticon').toggleClass('fa-angle-left');
			$(this).find('.righticon').toggleClass('fa-angle-down');
			$(itemsToToggleClass).toggleClass("hidden");
		});
	});


</script>

<script>
	//Script for opening and closing side menu

	var sideMenu=document.getElementById("myNav");
	var sideMenuOpened=false;
	var menuButton = document.getElementById("menuBtn");

	function navHandler(){
		if (!sideMenuOpened) {
			sideMenuOpened=true;
			menuButton.src= "/closeMenu.png"
			openNav();
		} else {
			sideMenuOpened=false;
			menuButton.src= "/openMenu.png"
			closeNav()
		}
	}

	function openNav() {
		if (innerWidth<650){
			sideMenu.style.width = "100%";
		} else{
			sideMenu.style.width = "250px";
			document.getElementsByClassName("main")[0].style.marginLeft = "250px";
			document.getElementsByClassName("main")[1].style.marginLeft = "250px";
		}

	}

	function closeNav() {
		menuButton.src= "/openMenu.png"
		sideMenu.style.width = "0";
		document.getElementsByClassName("main")[0].style.marginLeft = 0;
		document.getElementsByClassName("main")[1].style.marginLeft = 0;

	}




</script>

<script>

	var userPanel =$("#userPanel");
	var userIcon= $("#userIcon");
	var languageIcon= $("#languageIcon");
	var languagePanel=$("#languagePanel");
	var panel = $(".popover-content");

	userIcon.click(function() {
		userPanel.css("visibility", "visible");
		return false;
	});

	languageIcon.click(function() {
		userPanel.css("visibility", "hidden");
		languagePanel.css("visibility", "visible");
		return false;
	});


	// When any place of the document is clicked, both panels are hidden.
	$(document).click(function() {
		userPanel.css("visibility","hidden");
		languagePanel.css("visibility","hidden");
	});

	// When clicking inside any of the panels, panels won't hide

	panel.click(function(){
		return false;
	})

	function submitLogOutForm(){
		document.getElementById("logOutForm").submit();

	}

	function submitLanguageForm(language){
		if (language=='es') document.getElementById("esLanguageForm").submit();
		if (language=='en') document.getElementById("enLanguageForm").submit();
	}
</script>


<body>

</body>



<footer>
	<!-- Copyright -->
	<div>© 2019 Copyright:
		<a href="finbook.io"> FinBook</a>
	</div>
	<!-- Copyright -->
</footer>



</html>
#end