#parse("/velocity/layout.vm")
#mainLayout()
<html>
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <style>
        [data-href] {
            cursor: pointer;
        }
        thead {
            background-color: rgb(0,51,102);
            color:white;
            font-size:117%
        }

        .opener {
            cursor: pointer;
            font-size:115%;

        }

        .hidden {
            display:none;
        }

        .mainResult{
            border-top:ridge;
            border-bottom:ridge;
            background-color: #f7f7f7;
            font-size:115%;
            font-weight: bold;
        }

        .comboResult{
            font-style: italic;
            text-decoration: underline;
        }

        .containerTitle{
            border-bottom: double;
        }



        .bill {
            font-style: italic;
            background-color: #ebfcfc;
        }

        .rightbox{
            float:right;
            width:55%;
            margin-right:5%;
            margin-bottom:5%

        }

        .leftbox{
            position:fixed;
            float:left;
            width: 30%;
            margin-right:5%;
            margin-left: 5%;
            height:75%;
            margin-bottom:5%
        }

        footer {
            display: none;
        }

        @media screen and (max-width: 992px) {
            .rightbox{
                float:none;
                width:90%;
                margin-right:0%;
                margin-left: 5%;

            }
            .leftbox{
                position:static;
                float:none;
                width:90%;

            }
        }



        @media screen and (max-height: 650px) {

            .leftbox{
                position:static;

            }
        }

    </style>

    <body class="main">
        <div class="rightbox">
            <div class = "container content">
                <div class="containerTitle">
                    <h2>Profit and Losses report</h2>
                </div>

                <br>

                <table class="table table-hover fixed_header" id="myTable">
                    <thead>
                    <tr>
                        <th>Accounting name</th>
                        <th>Base</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="mainResult">
                            <td>Sales and incomes</td>
                            <td>$report.getSalesAndIncomesBase()</td>
                        </tr>
                        <tr style="font-size:115%">
                            <td class="comboResult"><a data-toggle="popover" data-trigger="hover" title="Net sales" data-content="Base= Gross sales base - Sales returns base">Net sales</a></td>
                            <td>$report.getNetSalesBase()</td>
                        </tr>
                        <tr id="grossSales" class="opener">
                            <td>Gross sales</td>
                            <td>$report.getGrossSalesBase()</td>
                        </tr>
                            #foreach($bill in $report.getGrossSales())
                            <tr data-href="$bill.getUUID()" class="hidden grossSales bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                            #end
                        <tr id="salesReturns" class="opener">
                            <td>Sales returns</td>
                            <td>$report.getSalesReturnsBase()</td>
                        </tr>
                            #foreach($bill in $report.getSalesReturns())
                            <tr data-href="$bill.getUUID()" class="hidden salesReturns bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                            #end
                        <tr class = "mainResult">
                            <td>Purchases and expenses</td>
                            <td>$report.getPurchasesAndExpensesBase()</td>
                        </tr>
                        <tr style="font-size: 115%">
                            <td class="comboResult"><a data-toggle="popover" data-trigger="hover" title="Net purchases" data-content="Base= Gross purchases base - Purchases returns base">Net purchases</a></td>
                            <td>$report.getNetPurchasesBase()</td>
                        </tr>
                        <tr id="grossPurchases" class="opener">
                            <td>Gross purchases</td>
                            <td>$report.getGrossPurchasesBase()</td>
                        </tr>
                            #foreach($bill in $report.getGrossPurchases())
                            <tr data-href="$bill.getUUID()" class="hidden grossPurchases bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                            #end
                        <tr id="purchasesReturns" class="opener">
                            <td>Purchases returns</td>
                            <td>$report.getPurchasesReturnsBase()</td>
                        </tr>
                            #foreach($bill in $report.getPurchasesReturns())
                            <tr data-href="$bill.getUUID()" class="hidden purchasesReturns bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                            #end
                        <tr id="externalServices" class="opener">
                            <td>External services</td>
                            <td>$report.getExternalServicesBase()</td>
                        </tr>
                            #foreach($bill in $report.getExternalServices())
                            <tr data-href="$bill.getUUID()" class="hidden externalServices bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                            #end
                        <tr id="salariesAndWages" class="opener">
                            <td>Salaries and Wages</td>
                            <td>$report.getSalariesAndWagesBase()</td>
                        </tr>
                            #foreach($bill in $report.getSalariesAndWages())
                            <tr data-href="$bill.getUUID()" class="hidden salariesAndWages bill">
                                <td><li>$bill.getConcept()</li></td>
                                <td>$bill.getSubtotal()</td>
                            </tr>
                            #end
                    </tbody>
                </table>

            </div>
        </div>

        <div class="leftbox">
            <div class="container content" style="margin-bottom:5%">
                <div>
                    <h4 class="containerTitle">Profit and Losses period</h4>
                    <br>
                    <div>
                        <form>
                            <div class="row">
                                <div class="col">
                                    <p>Period start</p>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="date" value="2011-08-19" id="pStart" name="periodStart">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Period end</p>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="date" value="2011-08-19" id="pEnd" name="periodEnd">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" value="Submit" class="btn btn-secondary" style="float:right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="container content" style="height:60%; margin-bottom:5%">
                <div>
                    <h4 class="containerTitle">Profit and Losses Chart</h4>
                </div>
                <div id="piechart" style="height:90%"></div>
            </div>
        </div>




    </body>

    <script>

        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = /bills/ + $(this).data("href");
            });
            $('.opener').on('click', function() {
                var itemsToToggleClass = "." + jQuery(this).attr("id");
                jQuery(this).toggleClass("opened");
                $(itemsToToggleClass).toggleClass("hidden");
                //$(itemsToToggleClass).last().css( "border-bottom", "groove" );
            });


        });
    </script>


    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var data;
        var options;
        var chart;

        function drawChart() {
            data = google.visualization.arrayToDataTable([
                ['Money', 'Base'],
                ['Sales and incomes', $report.getSalesAndIncomesBase()],
                ['Purchases and expenses',    $report.getPurchasesAndExpensesBase()]
            ]);

            options = {
                title: 'Sales vs Expenses'
            };

            chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        function resize () {
            chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        window.onload = resize;
        window.onresize = resize;
    </script>

    <script>
        function getPeriodStartParsedDate() {
            var year = $report.getPeriodStart().getYear() +1900;
            console.log(year);
            var month = $report.getPeriodStart().getMonth() +1;
            console.log(month);
            if (month < 10) month = "0" + month;
            var day = $report.getPeriodStart().getDate()+0;
            if (day < 10) day = "0" + day;
            return year + "-" + month + "-" + day;
        }

        function getPeriodEndParsedDate() {
            var year = $report.getPeriodEnd().getYear() +1900;
            console.log(year);
            var month = $report.getPeriodEnd().getMonth() +1;
            console.log(month);
            if (month < 10) month = "0" + month;
            var day = $report.getPeriodEnd().getDate()+0;
            if (day < 10) day = "0" + day;
            return year + "-" + month + "-" + day;
        }

        document.getElementById('pStart').value = getPeriodStartParsedDate();
        document.getElementById('pEnd').value = getPeriodEndParsedDate();
    </script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>


</html>	
	