<nav class="navbar navbar-expand-sm">

    <!-- Button for open side Menu -->

    <a class="nav-link menuBtn"><img src="/img/openMenu.png" alt="logo" id="menuBtn"
                                     onclick="navHandler()"></a>

    <!-- Brand/logo -->
    #if($user)
        <a class="navbar-brand" href="/dashboard">
            <img src="/img/favicon28.png" alt="logo" id="navLogo">
        </a>
    #else
        <a class="navbar-brand" href="/login">
            <img src="/img/favicon28.png" alt="logo" id="navLogo">
        </a>
    #end

    <!-- Brand WebPage name -->

    <span class="nav-title">Fin</span><span class="nav-title" id="navSecondaryName">book</span>


    <!-- User Icon  -->

    #if($user)
        <ul class="navbar-nav ml-auto">
            <div class="popover-wrapper">

                <!--  User Icon in NavBar!-->
                <div class="popover-title" id="userIcon">
                    <li class="nav-item">
                        <a><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
                    </li>
                </div>

                <!--  User Panel when User Icon is clicked -->
                <div class="popover-content" id="userPanel">
                    <div class="popover-content-header">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <p class="popover-message">$user.getCompanyName()</p>
                    </div>
                    <div class="popover-content-body">
                        <div>
                            <button id="languageIcon" class="butn"><i class="fa fa-language"
                                                                      aria-hidden="true"></i>&nbsp$msg.get(
                                "NAV_LANGUAGE")
                            </button>
                        </div>
                        <br>
                        <form id="logOutForm" action="/logout" method="post"></form>
                        <button onclick="submitLogOutForm()" class="butn"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i>&nbsp$msg.get(
                            "NAV_LOGOUT")
                        </button>
                    </div>
                </div>

                <!--  Language Panel when Language Button is clicked -->
                <div class="popover-content" id="languagePanel">
                    <div class="popover-content-header">
                        <i class="fa fa-language fa-2x" aria-hidden="true"></i>
                        <p class="popover-message">$msg.get("NAV_SELECTLANGUAGE")</p>
                    </div>
                    <div class="popover-content-body">
                        <form id="esLanguageForm"><input name="locale" value="es"></form>
                        <form id="enLanguageForm"><input name="locale" value="en"></form>
                        <button name="locale" value="es" onclick="submitLanguageForm('en')" class="butn">
                            <i class="fa fa-language" aria-hidden="true"></i>&nbsp$msg.get(
                            "NAV_ENLAN")
                        </button>
                        <br>
                        <br>
                        <button name="locale" value="es" onclick="submitLanguageForm('es')" class="butn"
                        ><i class="fa fa-language" aria-hidden="true"></i>&nbsp$msg.get(
                            "NAV_ESLAN")
                        </button>
                    </div>
                </div>
            </div>
        </ul>
    #else
        <ul class="navbar-nav ml-auto"></ul>
    #end


</nav>