#parse("/velocity/layout/mainLayout.vm")
#@mainLayout()

<link rel="stylesheet" href="/css/compareReports.css">

<div class="box content">
    <div class="contentTitle">
        <div class="row phonescrollable">
            <div class="col-9"><h2>$msg.get("CMPR_PROFIT&LOSS")</h2></div>
            <div class="col-3">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal">$msg.get("RPRT_COMPARE")
                </button>
            </div>
        </div>
    </div>

    <br>
    <div class="phonescrollable">
        <table class="table table-hover fixed_header" id="myTable">
            <thead>
            <tr>
                <th>$msg.get("PRPRT_ACCOUNTINGNAME")</th>
                <th><span class="large-numSpan" id="firstPeriodth"></span></th>
                <th><span class="large-numSpan" id="secondPeriodth"></span></th>
                <th><span class="numSpan">$msg.get("CMPR_DIFFERENCE")</span></th>
            </tr>
            </thead>
            <tbody>
            <tr class="mainResult">
                <td>$msg.get("PRPRT_SALESANDINCOMES")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getSalesAndIncomesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getSalesAndIncomesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr class="main-row">
                <td class="comboResult"><a data-toggle="popover" data-trigger="hover" title="$msg.get("PRPRT_NETSALES")"
                                           data-content="Base= Gross sales base - Sales returns base">$msg.get("PRPRT_NETSALES")</a>
                </td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getNetSalesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getNetSalesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="grossSales" class="field">
                <td>$msg.get("PRPRT_GROSSSALES")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getGrossSalesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getGrossSalesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="salesReturns" class="field">
                <td>$msg.get("PRPRT_SALESRETURNS")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getSalesReturnsBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getSalesReturnsBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr class="mainResult">
                <td>$msg.get("PRPRT_PURCHASESANDEXPENSES")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getPurchasesAndExpensesBase())</span>
                </td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getPurchasesAndExpensesBase())</span>
                </td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr class="main-row">
                <td class="comboResult"><a data-toggle="popover" data-trigger="hover" title="$msg.get("PRPRT_NETPURCHASES")"
                                           data-content="Base= Gross purchases base - Purchases returns base">$msg.get("PRPRT_NETPURCHASES")</a></td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getNetPurchasesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getNetPurchasesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="grossPurchases" class="field">
                <td>$msg.get("PRPRT_GROSSPURCHASES")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getGrossPurchasesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getGrossPurchasesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="purchasesReturns" class="field">
                <td>$msg.get("PRPRT_PURCHASESRETURNS")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getPurchasesReturnsBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getPurchasesReturnsBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="externalServices" class="field">
                <td>$msg.get("PRPRT_EXTERNALSERVICES")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getExternalServicesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getExternalServicesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="salariesAndWages" class="field">
                <td>$msg.get("PRPRT_SALARIESANDWAGES")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getSalariesAndWagesBase())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getSalariesAndWagesBase())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            <tr id="totalProfit" class="mainResult">
                <td>$msg.get("PRPRT_TOTALPROFIT")</td>
                <td><span class="large-numSpan">$number.format("currency",$report1.getProfit())</span></td>
                <td><span class="large-numSpan">$number.format("currency",$report2.getProfit())</span></td>
                <td><span class="numSpan"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="box content chartbox">
    <div>
        <h4 class="contentTitle">$msg.get("CMPR_PROFIT&LOSSCHART")</h4>
    </div>
    <div id="comparisonChart"></div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">$msg.get("RPRT_SELECTPERIODCOMPARE")</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="compareForm" action="/reports/compare/profitandlosses">
                    <div class="container">
                        <h6>$msg.get("RPRT_REPORT") 1</h6>
                        <br>
                        <div class="row">
                            <div class="col">
                                <p>$msg.get("GNRL_PERIODSTART")</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pStart1" value="2011-08-19"
                                       name="periodStart">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>$msg.get("GNRL_PERIODEND")</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pEnd1" value="2011-08-19" name="periodEnd">
                            </div>
                        </div>
                        <br>
                        <h6>$msg.get("RPRT_REPORT") 2</h6>
                        <br>
                        <div class="row">
                            <div class="col">
                                <p>$msg.get("GNRL_PERIODSTART")</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pStart2" value="2011-08-19"
                                       name="periodStart1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>$msg.get("GNRL_PERIODEND")</p>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="date" id="pEnd2" value="2011-08-19" name="periodEnd1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">$msg.get("GNRL_CANCEL")</button>
                <button type="submit" form="compareForm" class="btn btn-success">$msg.get("RPRT_COMPARE")</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/javascript/dateFromQuery.js"></script>
<script src="/javascript/reportsPercentageChange.js"></script>
<script src="/javascript/popover.js"></script>
<script src="/javascript/queryHandler.js"></script>

<script>
    addPercentageChangeToTable();
    dateFromQueryToModal();
    document.getElementById("firstPeriodth").innerHTML=getFirstPeriodString();
    document.getElementById("secondPeriodth").innerHTML=getSecondPeriodString();
</script>

<script>
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    var data;
    var options;
    var chart;

    function drawChart() {

        data = google.visualization.arrayToDataTable([
            ['Investment', getFirstPeriodString(), getSecondPeriodString()],
            #foreach($key in $barChart1)
                ['$key',$barChart1.getCount($key), $barChart2.getCount($key)],
            #end
            ['Profit', $report1.getProfit(), $report2.getProfit()]
        ]);

        options = {
            title: '$msg.get("DSB_P&L")',
            backgroundColor: 'rgb(247,250,252)',
            colors: ['rgb(255,127,63)','rgb(0,63,132)']
        };

        chart = new google.visualization.BarChart(document.getElementById('comparisonChart'));

        chart.draw(data, options);
    }

    function resize() {
        chart = new google.visualization.BarChart(document.getElementById('comparisonChart'));
        chart.draw(data, options);
    }

    window.onload = resize;
    window.onresize = resize;

    document.getElementsByClassName('overlay')[0].addEventListener('transitionend', function (event) {
        if (event.propertyName !== 'width') return;
        resize();
    });
</script>



#end
